body{
  margin: 0;
  padding: 0;
}
  
  .container{
      display: grid;
      height: 100vh;
      grid-template-columns: repeat(4 1fr);
      grid-template-rows: 1.5fr 8fr 1.5fr;
      grid-template-areas: "header header header header"
      "form form form form"
      "footer footer footer footer";
      grid-gap:0.2rem;
    font-family:'Times New Roman', Times, serif;
    font-size:14px;
    text-align:center;
  }

    

  header{
    background: #8cbdb9;
    text-align: center; 
    grid-area: header;
    }

    form{
        grid-area: form;
        background: #e8eceb;
    }

    footer{
        grid-area: footer;
        background: #2d3e4e;
    }

    footer a{
      color: #e8eceb;
    }
  
    @media screen and (max-width:768px){
      
      .container{
    grid-template-columns:1fr;
    grid-template-rows: 1.5fr 8fr 1.5fr;
    grid-template-areas: "header"
    "form"
    "footer";
      }
    }
      
    
