body{
  margin: 0;
  padding: 0;
}


.container{
    display:grid;
    height:100vh;
    /* Nombres colonnes */
    grid-template-columns:1fr 1fr 1fr 1fr;
    /* Nombres de lignes */
    grid-template-rows:1.5fr 0.5fr 2fr 4fr 1fr;
    /* Mise en page */
    grid-template-areas:"header header header header"
    "nav nav nav nav"
    "intro intro intro intro"
    "contenu1 contenu1 contenu2 contenu2"
    "footer footer footer footer";
    /* Espace entre éléments */
    grid-gap:0.2rem;
    font-family:'Times New Roman', Times, serif;
    font-size:14px;
    text-align:center;
    }
    
    header{
    background-color: #8cbdb9;
    grid-area:header; 
    margin: 0;
    height: 150px;
    background-image: url(intro.png);
    background-size: 30%; 
    background-repeat: no-repeat;
    background-position: center;
    }
    
    nav{
    grid-area:nav;
    }
    #intro{
        background: #e8eceb;
        grid-area: intro;
    }
    #contenu1{
    background:#8cbdb9;
    grid-area:contenu1;  
    }
    #contenu2{
    background:#e09e50;
    grid-area:contenu2;
    }
    footer{
    background:#2d3e4e;
    grid-area:footer;
    }
    footer a{
     color: #e8eceb;
    }

    /* Version responsive */
    @media screen and (max-width:768px){
      .container{
    grid-template-columns:1fr;
    grid-template-rows:1.5fr 0.5fr 1.5fr 2fr 2fr 1fr;
    grid-template-areas:"header"
    "nav"
    "intro"
    "contenu1"
    "contenu2"
    "footer";
    } 
    }
    



