body{
  margin: 0;
  padding: 0;
}


.container{
    display:grid;
    height:100vh;
    /* Nombres colonnes */
    grid-template-columns:1fr 1fr 1fr 1fr;
    /* Nombres de lignes */
    grid-template-rows:1.5fr 0.5fr 2fr 4fr 1fr;
    /* Mise en page */
    grid-template-areas:"header header header header"
    "nav nav nav nav"
    "intro intro intro intro"
    "contenu1 contenu1 contenu2 contenu2"
    "footer footer footer footer";
    /* Espace entre éléments */
    grid-gap:0.2rem;
    font-family:'Times New Roman', Times, serif;
    font-size:14px;
    text-align:center;
    }
    
    header{
    background: url(../img/intro.jpg), #79a2e0;
    grid-area:header; 
    margin: 0;
    height: 150px;
    background-size: 30%; 
    background-repeat: no-repeat;
    background-position: center;
    }
    
    nav{
    grid-area:nav;
    }
    #intro{
        background: #77bde2;
        grid-area: intro;
    }
    #contenu1{
    background:#149be4;
    grid-area:contenu1;  
    }
    #contenu2{
    background:#149be4;
    grid-area:contenu2;
    }
    footer{
    background:#a5d7f1;
    grid-area:footer;
    }
    /* Version responsive */
    @media screen and (max-width:768px){
      .container{
    grid-template-columns:1fr;
    grid-template-rows:1.5fr 0.5fr 1.5fr 2fr 2fr 1fr;
    grid-template-areas:"header"
    "nav"
    "intro"
    "contenu1"
    "contenu2"
    "footer";
    } 
    }
    



